body {
  width: 33%;
}
#res {
  border: 1px solid;
  height: 48px;
  font-size: 20px;
  padding: 3px;
  background-color: lightgray;
}
#btn0,
#btn1 {
  color: brown;
  background-color: lightgreen;
}
#btnClr,
#btnEql {
  color: white;
  background-color: darkgreen;
}
#btnSum,
#btnSub,
#btnMul,
#btnDiv {
  color: red;
  background-color: black;
}
button {
  float: left;
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin: 0px;
}
